.titleFeature{
    width: 100%;
    height: 40rem;
    background-color:#1E8FF6 ;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    display: flex;
}

.card{
    border: none;
}

.card-header{
    border: none;
}

.card-footer{
    border: none;
}

.titleFeature h1{
    margin-top: 29%;
}


