
/* Blog */

.blog-banner-wrapper {
    max-width: 100%;   height: 610px; 
}

.blog-banner-title {
   background-color: #db0214bd;
   height: 100px;
   margin: 230px auto;
   width: 400px;
   border-radius: 10px 10px 10px 10px;
   text-align: center;
   display: inline-block;
}

.titre-blog-site {
   color: rgb(244, 246, 248);
   font: bold 4em Impact, sans-serif;
   text-align: center;
   display: inline-block;
   
}

.create-article { background-color: #db0214bd;
       height: 60px;
       width: 400px;
       margin-top: 40px;
       border-radius: 10px 10px 10px 10px;
       
}

.text-create-article { 
   color: rgb(244, 246, 248);
   font: italic 3em Calibri , sans-serif;
   padding: 05px;
   text-align: left;
}

.blog-article1 {
   background: url(/codeinmind/assets/img/ccism.png);
   background-size: cover;
   max-width: 100%;
   padding: 20px;
   height: 400px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 100px;
   border-radius: 30px 30px 30px 30px;
}

.blog-article2 {
   background: url(/assets/img/pexels-pixabay-39284.jpg);
   background-size: cover;
   max-width: 100%;
   padding: 20px;
   height: 400px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 100px;
   border-radius: 30px 30px 30px 30px;
}

.blog-article3 {
   background: url(/assets/img/pexels-pixabay-270404.jpg);
   background-size: cover;
   max-width: 100%;
   padding: 20px;
   height: 400px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 100px;
   border-radius: 30px 30px 30px 30px;
}

.blog-article-text {
   color: rgb(244, 246, 248);
   font: italic bold 3em Calibri, sans-serif;
   text-align: left;
   padding: 20px;
}

.article-under-text {
   color: rgb(244, 246, 248);
   font: italic 1em Calibri, sans-serif;
   text-align: left;
   padding: 10px;
   display: inline-block;
}

.blog-article-title {
   background-color: #db0214bd;
   height: 200px;
   margin-top: 150px;
   width: 100%;
   border-radius: 10px 10px 10px 10px;
   text-align: left;
   
}

/*parti formation*/

.title-formation-g {
    background-color: #db0214bd;
    height: 60px;
    margin: 40px 0 20px 0;
    width: 50%;
    border-radius: 0 10px 10px 0;
    color: rgb(244, 246, 248);
    font: bold 3em Impact, sans-serif;
    float: left;
    padding:0 300px;
    
}

.title-formation-d {
    background-color: #db0214bd;
    height: 60px;
    margin: 40px 0 20px 0;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    color: rgb(244, 246, 248);
    font: bold 3em Impact, sans-serif;
    float: right;
    padding:0 0 0 300;
    
}

.programme {
    width: 100%;
    height: 140px;
}

.regroupement-texte {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 950px;
}

.partie-gauche-formation {
    background: #F74848;
    width: 700px;
    height: 940px;
    float: left;
    margin: 0px 30px 0 40px;
    border-radius: 10px 10px 10px 10px;
}

.texte-formation {
    color: aliceblue;
    font-size: 25px;
    padding: 25px;
    text-align: center;
}

.partie-droite-formation {
    background: #6476B1;
    width: 650px;
    height: 600px;
    float: right;
    margin: 100px 40px 100px 0px;
    border-radius: 10px 10px 10px 10px;
}

.formation-qualifiantes {
    color: rgb(244, 246, 248);
    font: bold 3em Impact, sans-serif;
    text-align: center;
    padding: 5px;
}

.texte-droite-formation {
    color: aliceblue;
    font-size: 35px;
    padding: 10px;
    padding-left: 200px;
}

.regroupement-texte-bas {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px; 
    margin: 0px;
}

.pre-requis {
    color: rgb(235, 92, 70);
    font-size: 30px;
}

.texte-pre-requis{
    font-size: 25px;
}

.fin-page-formation{
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;

}

/* FAQ */

.parti-info {
    height: 250px;
    width: 350px;
    background-color: aliceblue;
    border-style: solid;
    border: 4px;
    border-color: black;
    border-radius: 20px;
}

.image {
    height: 100px;
    width: 100px;
    border-style: solid; 
    border-color: black; 
    border: 2px;
    margin-left: auto;
    margin-right: auto;
}

.taille{
    text-align: center;
    margin-top: -94px;
} 

.taille2{
    text-align: center;
    margin-top: 8px;
}

.taille3{
    text-align: center;
    margin-top: 28px;
}

.nos-questions {
    color: rgb(235, 92, 70);
    text-align: center;
    font-size:35px;
}

.barre-de-titre {
    background-color: rgb(235, 92, 70);
    width: auto;
    height: 20px;
    float: none;
    display: inline;
    margin-right: 50px;
}

.img-titre-faq{
    background: url(/assets/img/faq.png);
    height: auto;
    
}

/*carousel*/

.on-carousel-wrapper{
    position: relative;
}

.block1 {
    background: url(/assets/img/blog.png) center / cover;
     height: 400px;
}

.block2 {
    background: url(/assets/img/faq.png) center / cover;
     height: 400px;
}

.block3 {
    background: url(/assets/img/formation.png) center / cover;
     height: 400px;
}

.block4 {
    background: url(/assets/img/devweb.png) center / cover;
     height: 400px;
}

.style-titre-faq {
    color: rgb(244, 246, 248);
    font: bold 3em Impact, sans-serif;
    text-align: right;
    padding: 0 90px 0 0px;

}

.style-titre-faq-text {
    color: rgb(244, 246, 248);
    font: Impact, sans-serif;
    font-size: x-small;
    text-align: right;
    padding: 0 30px 0 300px;

}

.banner-title-faq {
    background-color: #db0214bd;
    height: 300px;
    width: 700px;
    margin: 50px 0 50px 0;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
}

.klein {
    background: url(/assets/img/klein.jpg) center / cover;
    width: 200px;
    height: 200px;
    margin: 50px 30px 100px 50px;
    float: left;
}

.brenda {
    background: url(/assets/img/brenda.jpg) center / cover;
    width: 200px;
    height: 200px;
    margin: 50px 30px 100px 50px;
    float: left;
} 
 
.steve {
    background: url(/assets/img/steve.jpg) center / cover;
    width: 200px;
    height: 200px;
    margin: 50px 30px 100px 50px;
    float: left;
}
.erai {
    background: url(/assets/img/erai.jpg) center / cover;
    width: 200px;
    height: 200px;
    margin: 50px 30px 100px 50px;
    float: left;
}



/*barre de question déroulante*/

.boutonmenuprincipal {
    background-color: #e83737;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px; 
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    }

    .boutonmenuprincipal:hover {
    background-color: #ff4444;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-child {
    display: none;
    background-color: #f28c8c;
    min-width: 50px;
    }

    .dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    }

    .dropdown:hover .dropdown-child {
    display: block;
    }

    .style-test-reponse {
        padding: 10px 10px 10px 10px ;
        border-radius: 40px;
        text-align: center;
    }

/*contact*/
.parti-info {
    background-color: #6476B1;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    margin: 30px 60px;
    z-index: auto;
}

.parti-carte {
    background-color: #6476B1;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin: 30px 0px 0 550px;
}

.image {
    width: 100px;
    height: 100px;
    margin-left: 125px;
    margin-top: 10px ;
    float: left;
}

/* map */

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 20px;
    }

    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    
/*commun*/

.menu-barre {

    width: 100%; 
    height: 100px; 
    background-color: white;
}


.logo-menu {
    width: 200px; 
    height: 100px; 
    margin: 0px 0px 20px 20px; 
    background: url(/assets/img/Web\ 1920\ –\ 1.jpg); 
    background-size: cover ;
    display: inline-block;
}



.menu-text {

    color: rgb(67, 152, 236);
    font: italic 2em Calibri, sans-serif;
    text-align: center;
    float: right; 
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
}

.banner-title {
    background-color: #db0214bd;
    height: 100px;
    margin:100px ;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
}

.banner-wrapper {
    height: 300px;
}

.barre {
    color: #db0214bd;
    top: -5px;
    margin-left: 100px;
    padding: 0 8px 8px 8px;
    display: inline;
    position: absolute;
}

.style-titre {
    color: rgb(244, 246, 248);
    font: bold 3em Impact, sans-serif;
    text-align: center;
    padding: 20px;
    z-index: 7;
}